.card-holder {
  display: inline-block;
}

.card {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  margin: 0 1vw;
  -webkit-box-shadow: inset 10px 10px 44px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: inset 10px 10px 44px 0px rgba(0, 0, 0, 0.21);
  box-shadow: inset 10px 10px 44px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.45);
}

.card img {
  width: 70%;
  padding: 2% 0;
  height: 60%;
}

.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.button-container{
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 5px;
  margin:15px;
}